book

_tools/mdbook-drawio/target/
_tools/mdbook-drawio/Cargo.lock

.DS_Store
.AppleDouble
.LSOverride

.idea/
.vscode/
*.swp
*.swo

*.tmp
*.bak
*~
PlantDiseaseDetector/app/debug/output-metadata.json
PlantDiseaseDetector/app/debug/app-debug.apk